<div class="container">
  <div class="col landing">
    <div class="col logo">
      <p class="h1">Transact</p>
    </div>
    <div class="col">
      <%= link_to 'LOG IN', new_user_session_path, class: "btn btn-primary btn-login" %>
    </div>
    <div class="col">
      <%= link_to 'SIGN UP', new_user_registration_path, class: "btn btn-light btn-signup" %>
    </div>
  </div>
</div>
